{#
Copyright (c) 2014, Anaphore
All rights reserved.

Redistribution and use in source and binary forms, with or without
modification, are permitted provided that the following conditions are
met:

    (1) Redistributions of source code must retain the above copyright
    notice, this list of conditions and the following disclaimer.

    (2) Redistributions in binary form must reproduce the above copyright
    notice, this list of conditions and the following disclaimer in
    the documentation and/or other materials provided with the
    distribution.

    (3)The name of the author may not be used to
   endorse or promote products derived from this software without
   specific prior written permission.

THIS SOFTWARE IS PROVIDED BY THE AUTHOR ``AS IS'' AND ANY EXPRESS OR
IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
DISCLAIMED. IN NO EVENT SHALL THE AUTHOR BE LIABLE FOR ANY DIRECT,
INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
(INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR
SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT,
STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING
IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE
POSSIBILITY OF SUCH DAMAGE.
#}

{% extends "main.html.twig" %}

{% block head %}
        {% if app_title_html is defined and app_title_html is not null %}
            <title>{{ app_title_html }} - {{ img }}</title>
        {% else %}
            <title>{% block title %}{% trans "Bach Viewer" %} - {{ img }}{% endblock %}</title>
        {% endif %}
        {% if not(iip) %}
        <link rel="stylesheet" href="{{ app_web_url }}/styles/jquery.iviewer.css"/>
            {% if contrast and picture.canContrast() or brightness and picture.canBrightness() %}
        <link rel="stylesheet" href="{{ app_web_url }}/styles/jquery.nouislider.css"/>
            {% endif %}
        {% else %}
        <link rel="stylesheet" type="text/css" href="{{ app_web_url }}/styles/iip.css" />
        {% endif %}
        {% if zoomify %}
        <link rel="stylesheet" type="text/css" media="print" href="{{ app_web_url }}/styles/zoomifyprint.css" />
        {% endif %}
        <link rel="stylesheet" href="{{ app_web_url }}/styles/viewer.css"/>
{% endblock %}

{% block content %}
        <section>
            <!-- Headerbar -->
            <header>
                    {% include 'headerbar.html.twig' with{'awsFlag': awsFlag, 'themes': themes, 'app_web_url': app_web_url, 'img': img, 'series': series, 'picture': picture, 'zoomify': zoomify,'displayHD': displayHD, 'image_format': image_format} %}
            </header>

            <figure id="viewer">
                {% if communicability is defined and communicability == false %}
                <noscript>
                    <div id="nocommunicability">{% trans %}Image is not communicable.{% endtrans %}</div>
                </noscript>
                <div id="nocommunicabilityJS"></div>
                {% else %}
                <noscript>
                    {% if awsFlag == true %}
                        <img src="{{ cloudfront ~ 'prepared_images/default/' ~ path }}" alt=""/>
                    {% else %}
                        <img src="{{ picture.getUrl(series) }}" alt=""/>
                    {% endif %}
                </noscript>
                {% endif %}
                {% if iip %}<div id="pviewer"> </div>{% endif %}

                <!-- Browse series, if series -->
                {% if series %}
                    {% include 'navseriesbar.html.twig' with{'img_series': img_series, 'series': series, 'app_web_url': app_web_url} %}
                {% endif %}

                <!-- Toolbar -->
                <aside>
                    {% include 'toolbar.html.twig' with{'series': series, 'iip': iip, 'picture': picture, 'displayHD': displayHD, 'comment': comment, 'print': print, 'contrast': contrast,'brightness': brightness, 'negate': negate} %}
                </aside>

                {% if not(iip) %}
                <aside id="progressbar">
                    <div>
                        <p>{% trans "Loading image, please wait..." %}</p>
                        <progress max="100">
                            <strong>{% trans "Loading..." %}</strong>
                        </progress>
                    </div>
                </aside>
                {% endif %}

            <noscript><div id="warning_js">{% trans "JavaScript is off. Some feature may not work." %}</div></noscript>

            </figure>
            {% include 'popups.html.twig' with{'contrast': contrast, 'picture': picture, 'brightness': brightness, 'negate': negate, 'comment': comment} %}
        </section>
{% endblock %}

{% block scripts %}
        <script type="text/javascript" src="{{ app_web_url }}/scripts/jquery/jquery-1.9.1.min.js"></script>
        {% if not(iip) %}
        <script type="text/javascript" src="{{ app_web_url }}/scripts/jquery/ui/jquery.ui.core.min.js"></script>
        <script type="text/javascript" src="{{ app_web_url }}/scripts/jquery/ui/jquery.ui.widget.min.js"></script>
        <script type="text/javascript" src="{{ app_web_url }}/scripts/jquery/ui/jquery.ui.mouse.min.js"></script>
        <script type="text/javascript" src="{{ app_web_url }}/scripts/jquery/ui/jquery.ui.draggable.min.js"></script>
        <script type="text/javascript" src="{{ app_web_url }}/scripts/jquery/jquery.mousewheel.js"></script>
        <script type="text/javascript" src="{{ app_web_url }}/scripts/jquery/ui/iviewer/jquery.iviewer.min.js"></script>
        {% if awsFlag %}
        <script type="text/javascript" src="{{ app_web_url }}/scripts/bachview/vieweraws.js"></script>
        {% else %}
        <script type="text/javascript" src="{{ app_web_url }}/scripts/bachview/viewer.js"></script>
        {% endif %}
            {% if contrast and picture.canContrast() or brightness and picture.canBrightness() %}
        <script type="text/javascript" src="{{ app_web_url }}/scripts/jquery/slider/jquery.nouislider.min.js"></script>
            {% endif %}
        {% else %}
        <script type="text/javascript" src="{{ app_web_url }}/scripts/mootools/mootools-core-1.4.5-full-nocompat.js"></script>
        <script type="text/javascript" src="{{ app_web_url }}/scripts/mootools/mootools-more-1.4.0.1.js"></script>
        <script type="text/javascript" src="{{ app_web_url }}/scripts/iipmooviewer/iipmooviewer-2.0.js"></script>
        <script type="text/javascript" src="{{ app_web_url }}/scripts/bachview/iipviewer.js"></script>
        <script type="text/javascript" src="{{ app_web_url }}/scripts/iipmooviewer/protocols/iip.js"></script>
        <script type="text/javascript" src="{{ app_web_url }}/scripts/iipmooviewer/protocols/zoomify.js"></script>
        <script type="text/javascript" src="{{ app_web_url }}/scripts/iipmooviewer/touch.js"></script>
        {% if lang == 'fr_FR.utf8' %}
        <script type="text/javascript" src="{{ app_web_url }}/scripts/iipmooviewer/lang/help.fr.js"></script>
        {% else %}
        <script type="text/javascript" src="{{ app_web_url }}/scripts/iipmooviewer/lang/help.en.js"></script>
        {% endif %}
        <!--<script type="text/javascript" src="{{ app_web_url }}/scripts/iipmooviewer/touch.js"></script>-->
        <script type="text/javascript" src="{{ app_web_url }}/scripts/iipmooviewer/navigation.js"></script>
        <script type="text/javascript" src="{{ app_web_url }}/scripts/bachview/iipnavigation.js"></script>
        {% endif %}
        <script>
            //global variables
            var zoomGlobal = 100;
            var communicability = '{{ communicability }}';
            var series_path = '{{ series.getPath() }}';
            var displayHD = '{{ displayHD }}';
            var series_content =  $.parseJSON('{{series.getContent()|json_encode|raw}}');
            {% if not series %}
            var image_path = '{{ picture.getPath() }}';
            {% endif %}
            {% if remote_infos_url is defined %}
            var remote_infos_url = '{{ remote_infos_url }}';
            {% endif%}
            {% if not series.getStart is null and not series.getEnd is null -%}
            var series_start = '{{ series.getStart }}';
            var series_end = '{{ series.getEnd }}';
            {% endif -%}
            var app_url = '{{ app_base_url }}';
            var notdownloadprint = '{{ notdownloadprint }}';
            var hidef_off_title = '{{ "Switch to high resolution image"|trans|escape('js') }}';
            var hidef_on_title = '{{ "Switch to low resolution image"|trans|escape('js') }}';
            var alert_bad_value = '{{ "Warning, this is a bad value!"|trans|escape('js') }}';
            var header_matricule = '{{ "Matricule informations"|trans|escape('js') }}';
            var header_ead = '{{ "Ead informations"|trans|escape('js') }}';
            var link_ead = '{{ "Link to an ead document: "|trans|escape('js') }}';
            var link_record = '{{ "Link to the record: "|trans|escape('js') }}';
            var link_document = '{{ "Reach to complete description: "|trans|escape('js') }}';
            var intitule_ead = '{{ "Title description: "|trans|escape('js') }}';
            var unitid_ead = '{{ "Unitid description: "|trans|escape('js') }}';
            var remote_infos_key = {
                'date_enregistrement':'{{ "record date"|trans|escape('js') }}',
                "lieu_enregistrement":'{{ "record place"|trans|escape('js') }}',
                "annee_naissance": '{{ "birth year"|trans|escape('js') }}',
                "lieu_naissance":'{{ "place of birth"|trans|escape('js') }}',
                "additional_informations":'{{ "additional informations"|trans|escape('js') }}',
                "lieu_residence": '{{ "place of residence"|trans|escape('js') }}',
                "communicability_general": '{{ "general communicability"|trans|escape('js') }}',
                "communicability_sallelecture": '{{ "reading room communicability"|trans|escape('js') }}'
                }

            var contentRemoteDefault = '{{ "No information for this picture."|trans|escape('js') }}';
            //source: https://developer.mozilla.org/en-US/docs/DOM/Using_fullscreen_mode
            function toggleFullScreen() {
                if (!document.fullscreenElement &&    // alternative standard method
                    !document.mozFullScreenElement && !document.webkitFullscreenElement) {  // current working methods
                    if (document.documentElement.requestFullscreen) {
                        document.documentElement.requestFullscreen();
                    } else if (document.documentElement.mozRequestFullScreen) {
                        document.documentElement.mozRequestFullScreen();
                    } else if (document.documentElement.webkitRequestFullscreen) {
                        document.documentElement.webkitRequestFullscreen(Element.ALLOW_KEYBOARD_INPUT);
                    }
                } else {
                    if (document.cancelFullScreen) {
                        document.cancelFullScreen();
                    } else if (document.mozCancelFullScreen) {
                        document.mozCancelFullScreen();
                    } else if (document.webkitCancelFullScreen) {
                        document.webkitCancelFullScreen();
                    }
                }
            }

            //no conflict jquery
            jQuery.noConflict();
            //jquery stuff
            (function($) {
                $('#progressbar').fadeIn();

                {% if not(enable_right_click) %}
                $(this).bind("contextmenu", function(e) {
                    e.preventDefault();
                });
                {% endif %}

                {%- if not(iip) -%}
                var comm;
                {% if displayHD == true %}
                comm = '{{ picture.getUrl(series, "full")}}';
                {% else %}
                comm = '{{ picture.getUrl(series)}}';
                {% endif %}
                var viewer = $("#viewer").bviewer({
                    {% if remote_method -%}
                    remote: {
                        method: '{{ remote_method }}',
                        uri: '{{ remote_uri }}'
                    },
                    {% endif -%}
                    src: comm,
                    update_on_resize: true,
                    zoom_animation: false,
                    mousewheel: true,
                    ui_disabled: true,
                    imageName: '{{ picture.getName() }}'
                });
                {% endif %}

                if (document.fullScreenEnabled != undefined
                    || document.mozFullScreenEnabled != undefined
                    || document.webkitFullscreenEnabled != undefined
                ){
                    $('#formats').parent().prepend(
                        $('<a href="#" id="fullscreen" title="{% trans "Enter/exit fullscreen" %}"><span>{% trans "Enter/exit fullscreen" %}</span></a>')
                    );
                    $('#fullscreen').bind('click touchstart', function(){
                        toggleFullScreen();
                    });

                    $('body').bind('keydown', function(event) {
                        if (event.which == 70) {
                            toggleFullScreen();
                        }
                    });
                }
            })(jQuery);
            //mootools stuff, if any
            {% if iip %}
                {% if zoomify %}
                // Create our iipmooviewer object
                var _iipviewer = new BIIPMooViewer( "pviewer", {
                    {% if enable_right_click %}
                    disableContextMenu: false,
                    {% endif %}
                    server: '/images_serveur/',
                    image: '{{ zoomify_path }}',
                    protocol: 'zoomify',
                    navWinSize: {{ thumb_format.width }},
                    showNavButtons: false,
                    prefix: '/images/'
                });
                {% else %}
                var _iipviewer = new BIIPMooViewer( "pviewer", {
                    {% if enable_right_click %}
                    disableContextMenu: false,
                    {% endif %}
                    server: '{{ iipserver }}',
                    image: '{{ picture.getFullPath() }}',
                    imageName: '{{ picture.getName() }}',
                    navWinSize: {{ thumb_format.width }},
                    showNavButtons: false,
                    prefix: '/images/'
                });

                {% endif %}
            {% endif %}
        </script>
{% endblock %}
