{% extends "main.html.twig" %}

{% block title %}{% trans "Bach Viewer" %} - {{ img }}{% endblock %}
{% block head %}
        {% if not(iip) %}
        <link rel="stylesheet" href="{{ app_web_url }}/styles/jquery.iviewer.css"/>
        {% else %}
        <link rel="stylesheet" type="text/css" media="all" href="{{ app_web_url }}/styles/iip.css" />
        {% endif %}
        <link rel="stylesheet" href="{{ app_web_url }}/styles/viewer.css"/>
{% endblock %}

{% block content %}
        <section>
            <figure id="viewer">
                <header>
                    <h1>BACH</h1>
                    {% if series %}
                        {% set series_name = series.getPath() %}
                        <span id="series_pos" title="{% trans %}You are currently browsing '{{ series_name }}' series.{% endtrans %}">
                            {% trans %}
                            Series {{ series_name }}:
                            {% endtrans %}
                            <span id="current_pos">{{ series.getCurrentPosition() }}</span> / {{ series.getCount() }}
                        </span>
                    {% endif %}
                    <h2>{{ img }}</h2>

                    {% if not picture.isPyramidal %}
                    <div id="formats">
                        <select name="formats">
                            {% for key, fmt in picture.getVisibleFormats() %}
                            <option value="{{ key }}"{% if image_format == key  %} selected="selected"{% endif %}>{{ fmt }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    {% endif %}
                    <a href="#" id="fullscreen" title="{% trans "Enter/exit fullscreen" %}"><span>{% trans "Enter/exit fullscreen" %}</span></a>
                </header>
                <noscript>
                    <img src="{{ picture.getUrl() }}" alt=""/>
                </noscript>
                {% if iip %}<div id="pviewer"> </div>{% endif %}
                <!-- Browse series, if series there is -->
                {% if series %}
                <nav>
                    <a href="?img={{ series.getPreviousImage()  }}" id="previmg" title="{% trans "Go to previous image" %}">{% trans "Previous" %}</a>
                    <a href="?img={{ series.getNextImage() }}" id="nextimg" title="{% trans "Go to next image" %}">{% trans "Next" %}</a>
                </nav>
                {% endif %}
                <!-- Toolbar -->
                <aside>
                    <ul>
                        {% if series %}
                        <li id="thumbnails" title="{% trans "Show thumbnails" %}">
                        {% endif %}
                        {# rotation is buggy for IIP, see https://github.com/ruven/iipmooviewer/issues/13 #}
                        {% if not iip %}
                        <li id="lrotate" title="{% trans "Rotate 90 degrees by left" %}">
                        <li id="rrotate" title="{% trans "Rotate 90 degrees by right" %}">
                        {% endif %}
                        <li id="zoomout" title="{% trans "Zoom out" %}">
                        <li id="zoominfos">
                        <li id="zoomin" title="{% trans "Zoom in" %}">
                        <li id="fitsize" title="{% trans "Fit image to screen" %}">
                        <li id="fullsize" title="{% trans "Show full size image" %}">
                        <li id="moreparams" title="{% trans "More parameters" %}">
                        <!--<li id="fullscreen" title=""></li>-->
                    </ul>
                </aside>
                {% if not(iip) %}
                <aside id="progressbar">
                    <div>
                        <p>{% trans "Loading image, please wait..." %}</p>
                        <progress max="100">
                            <strong>{% trans "Loading..." %}</strong>
                        </progress>
                    </div>
                </aside>
                {% endif %}
            </figure>
        </section>
{% endblock %}

{% block scripts %}
        <script type="text/javascript" src="{{ app_web_url }}/scripts/jquery/jquery-1.9.1.min.js"></script>
        {% if not(iip) %}
        <script type="text/javascript" src="{{ app_web_url }}/scripts/jquery/ui/jquery.ui.core.min.js"></script>
        <script type="text/javascript" src="{{ app_web_url }}/scripts/jquery/ui/jquery.ui.widget.min.js"></script>
        <script type="text/javascript" src="{{ app_web_url }}/scripts/jquery/ui/jquery.ui.mouse.min.js"></script>
        <script type="text/javascript" src="{{ app_web_url }}/scripts/jquery/ui/jquery.ui.draggable.min.js"></script>
        <script type="text/javascript" src="{{ app_web_url }}/scripts/jquery/jquery.mousewheel.js"></script>
        <script type="text/javascript" src="{{ app_web_url }}/scripts/jquery/ui/iviewer/jquery.iviewer.min.js"></script>
        <script type="text/javascript" src="{{ app_web_url }}/scripts/bachview/viewer.js"></script>
        {% else %}
        <script type="text/javascript" src="{{ app_web_url }}/scripts/mootools/mootools-core-1.4.5-full-nocompat.js"></script>
        <script type="text/javascript" src="{{ app_web_url }}/scripts/mootools/mootools-more-1.4.0.1.js"></script>
        <script type="text/javascript" src="{{ app_web_url }}/scripts/iipmooviewer/iipmooviewer-2.0.js"></script>
        <script type="text/javascript" src="{{ app_web_url }}/scripts/bachview/iipviewer.js"></script>
        <script type="text/javascript" src="{{ app_web_url }}/scripts/iipmooviewer/protocols/iip.js"></script>
        {% if lang == 'fr_FR.utf8' %}
        <script type="text/javascript" src="{{ app_web_url }}/scripts/iipmooviewer/lang/help.fr.js"></script>
        {% else %}
        <script type="text/javascript" src="{{ app_web_url }}/scripts/iipmooviewer/lang/help.en.js"></script>
        {% endif %}
        <!--<script type="text/javascript" src="{{ app_web_url }}/scripts/iipmooviewer/touch.js"></script>-->
        <script type="text/javascript" src="{{ app_web_url }}/scripts/iipmooviewer/navigation.js"></script>
        <script type="text/javascript" src="{{ app_web_url }}/scripts/bachview/iipnavigation.js"></script>
        {% endif %}
        <script>
            //global variables
            var series_path = '{{ series.getPath() }}';
            var app_url = '{{ app_base_url }}';
            //no conflict jquery
            jQuery.noConflict();
            //jquery stuff
            (function($) {
                if ( typeof _isOldIE != 'undefined' ) {
                    $('#lrotate,#rrotate,#fullscreen').remove();
                }
                {% if not(enable_right_click) %}
                $(this).bind("contextmenu", function(e) {
                    e.preventDefault();
                });
                {% endif %}

                {% if not(iip) %}
                var viewer = $("#viewer").bviewer({
                    src: "{{ picture.getUrl() }}",
                    update_on_resize: true,
                    zoom_animation: false,
                    mousewheel: true,
                    ui_disabled: true,
                    imageName: '{{ picture.getName() }}'
                });
                {% else %}

                {% endif %}

                $('#fullscreen').click(function(){
                    toggleFullScreen();
                });


                $('body').bind('keydown', function(event) {
                    if (event.which == 70) {
                        toggleFullScreen();
                    }
                });

                //source: https://developer.mozilla.org/en-US/docs/DOM/Using_fullscreen_mode
                function toggleFullScreen() {
                    if (!document.fullscreenElement &&    // alternative standard method
                        !document.mozFullScreenElement && !document.webkitFullscreenElement) {  // current working methods
                        if (document.documentElement.requestFullscreen) {
                            document.documentElement.requestFullscreen();
                        } else if (document.documentElement.mozRequestFullScreen) {
                            document.documentElement.mozRequestFullScreen();
                        } else if (document.documentElement.webkitRequestFullscreen) {
                            document.documentElement.webkitRequestFullscreen(Element.ALLOW_KEYBOARD_INPUT);
                        }
                    } else {
                        if (document.cancelFullScreen) {
                            document.cancelFullScreen();
                        } else if (document.mozCancelFullScreen) {
                            document.mozCancelFullScreen();
                        } else if (document.webkitCancelFullScreen) {
                            document.webkitCancelFullScreen();
                        }
                    }
                }
            })(jQuery);
            //mootools stuff, if any
            {% if iip %}
                // Create our iipmooviewer object
                var _iipviewer = new BIIPMooViewer( "pviewer", {
                    {% if enable_right_click %}
                    disableContextMenu: false,
                    {% endif %}
                    server: '{{ iipserver }}',
                    image: '{{ picture.getFullPath() }}',
                    imageName: '{{ picture.getName() }}',
                    navWinSize: {{ thumb_format.width }},
                    showNavButtons: false,
                    prefix: '/images/'
                });
            {% endif %}
        </script>
{% endblock %}
