{#
Copyright (c) 2014, Anaphore
All rights reserved.

Redistribution and use in source and binary forms, with or without
modification, are permitted provided that the following conditions are
met:

    (1) Redistributions of source code must retain the above copyright
    notice, this list of conditions and the following disclaimer.

    (2) Redistributions in binary form must reproduce the above copyright
    notice, this list of conditions and the following disclaimer in
    the documentation and/or other materials provided with the
    distribution.

    (3)The name of the author may not be used to
   endorse or promote products derived from this software without
   specific prior written permission.

THIS SOFTWARE IS PROVIDED BY THE AUTHOR ``AS IS'' AND ANY EXPRESS OR
IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
DISCLAIMED. IN NO EVENT SHALL THE AUTHOR BE LIABLE FOR ANY DIRECT,
INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
(INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR
SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT,
STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING
IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE
POSSIBILITY OF SUCH DAMAGE.
#}

{% extends "main.html.twig" %}

{% block title %}{% trans "Bach Viewer" %} - {{ img }}{% endblock %}
{% block head %}
        {% if not(iip) %}
        <link rel="stylesheet" href="{{ app_web_url }}/styles/jquery.iviewer.css"/>
        {% if contrast and picture.canContrast() or brightness and picture.canBrightness() %}
        <link rel="stylesheet" href="{{ app_web_url }}/styles/jquery.nouislider.css"/>
        {% endif %}
        {% else %}
        <link rel="stylesheet" type="text/css" media="all" href="{{ app_web_url }}/styles/iip.css" />
        {% endif %}
        <link rel="stylesheet" href="{{ app_web_url }}/styles/viewer.css"/>
{% endblock %}

{% block content %}
        <section>
            <header>
                <h1 {%if awsFlag == true%}style="position:absolute;"{%endif%}>{% if themes is defined %}<img id="custom_logo" src="{{app_web_url}}/themes/images/logo.png"/>{% else %}<img src="{{ app_web_url }}/images/logo.png" alt="BACH"/>{%endif%}</h1>
                {% if image_database_name is defined %}
                <h2>{{ image_database_name}}</h2>
                {% else %}
                <h2>{{ img }}</h2>
                {% endif %}
                {% if series %}
                    {% set series_name = series.getPath() %}
                    <span id="series_pos" title="{% trans %}You are currently browsing '{{ series_name }}' series.{% endtrans %}">
                        - {% trans %}Image{% endtrans %} <span id="current_pos">{{ series.getCurrentPosition() }}</span> / <span id="number_total">{{ series.getCount() }}</span>
                    </span>
                {% endif %}

                {% if not picture.isPyramidal and awsFlag != true %}
                <div id="formats">
                    <select name="formats">
                        {% for key, fmt in picture.getVisibleFormats() %}
                        <option value="{{ key }}"{% if image_format == key  %} selected="selected"{% endif %}>{{ fmt }}</option>
                        {% endfor %}
                    </select>
                </div>
                {% endif %}
            </header>
            <figure id="viewer">
                {% if communicability is defined and communicability == false %}
                <noscript>
                    <div id="nocommunicability">{% trans %}Image is not communicable.{% endtrans %}</div>
                </noscript>
                <div id="nocommunicabilityJS"></div>
                {% else %}
                <noscript>
                    {% if awsFlag == true %}
                        <img src="{{ cloudfront ~ 'prepared_images/default/' ~ path }}" alt=""/>
                    {% else %}
                        <img src="{{ picture.getUrl(series) }}" alt=""/>
                    {% endif %}
                </noscript>
                {% endif %}
                {% if iip %}<div id="pviewer"> </div>{% endif %}
                <!-- Browse series, if series there is -->
                {% if series %}
                <nav>
                    {%- set img_series -%}
                        {%- if not series.getStart is null and not series.getEnd is null -%}
                            ?s={{ series.getStart }}&e={{ series.getEnd }}&
                        {%- endif -%}
                    {%- endset -%}
                    <a href="{{ app_web_url }}/series/{{ series.getPath() }}?img={{ series.getPreviousImage() }}{{ img_series }}" id="previmg" title="{% trans "Go to previous image" %}">{% trans "Previous" %}</a>
                    <a href="{{ app_web_url }}/series/{{ series.getPath() }}?img={{ series.getNextImage() }}{{ img_series }}" id="nextimg" title="{% trans "Go to next image" %}">{% trans "Next" %}</a>
                </nav>
                {% endif %}
                <!-- Toolbar -->
                <aside>
                    <ul>
                        {% if series %}
                        <li id="thumbnails" title="{% trans "Show thumbnails" %}">
                        {% endif %}
                        {# rotation is buggy for IIP, see https://github.com/ruven/iipmooviewer/issues/13 #}
                        {% if not iip %}
                        <li id="lrotate" title="{% trans "Rotate 90 degrees by left" %}">
                        <li id="rrotate" title="{% trans "Rotate 90 degrees by right" %}">
                        {% endif %}
                        <li id="zoomout" title="{% trans "Zoom out" %}">
                        <li id="zoominfos">
                        {% if (picture.hasFormat('full') and picture.hasFormat('default')) or awsFlag == true %}
                        <li id="hidef" data-state="off" title="{% trans %}Switch to high resolution image{% endtrans %}">
                            <span class="userinfo">{% trans %}Want a better quality?<br/>Get the high resolution version!{% endtrans %}<span class="inner"></span></span>
                        </li>{% endif %}<li id="zoomin" title="{% trans "Zoom in" %}">
                        <li id="fitsize" title="{% trans "Fit image to screen" %}">
                        <li id="fullsize" title="{% trans "Show full size image" %}">
                        {% if comment %}
                        <li id="comments" title="{% trans "Show related comments" %}">
                        {% endif %}
                        <li id="infosRemote" title="{% trans "Show related informations"%}">
                        {% if not iip %}
                            {% if print and picture.canPrint() %}
                        <li id="print" title="{% trans "Print image as currently displayed" %}">
                            {% endif %}
                            {% if contrast and picture.canContrast() or brightness and picture.canBrightness() or negate and picture.canNegate() %}
                        <li id="moreparams" title="{% trans "Adjust image parameters" %}">
                            {% endif %}
                            {% if series %}
                        <li id="lockparams" class="off" title="{% trans "Lock image parameters" %}">
                            {% endif %}
                        {% endif %}
                    </ul>
                </aside>
                {% if not(iip) %}
                <aside id="progressbar">
                    <div>
                        <p>{% trans "Loading image, please wait..." %}</p>
                        <progress max="100">
                            <strong>{% trans "Loading..." %}</strong>
                        </progress>
                    </div>
                </aside>

                {% endif %}
            <noscript><div id="warning_js">{% trans "JavaScript is off. Some feature may not work." %}</div></noscript>
            </figure>
                    {% if contrast and picture.canContrast() or brightness and picture.canBrightness() or negate and picture.canNegate() %}
                <form id="image_params" action="">
                    <fieldset>
                        <legend class="iviewer_cursor">{% trans %}Image parameters{% endtrans %}<span class="close" title="{% trans %}Close window{% endtrans %}"></span></legend>
                        {% if contrast and picture.canContrast() %}
                        <div>
                            <label for="contrast_value">{% trans %}Contrast:{% endtrans %}</label>
                            <input type="number" name="contrast_value" id="contrast_value" step="1" min="-10" max="10"/>
                            <div id="change_contrast"></div>
                        </div>
                        {% endif %}
                        {% if brightness and picture.canBrightness() %}
                        <div>
                            <label for="brightness_value">{% trans %}Brightness:{% endtrans %}</label>
                            <input type="number" name="brightness_value" id="brightness_value" step="1" min="-80" max="80"/>
                            <div id="change_brightness"></div>
                        </div>
                        {% if negate and picture.canNegate() %}
                        <div>
                            <label for="negate">{% trans %}Negate{% endtrans %}</label>
                            <input type="checkbox" name="negate" id="negate" value="1"/>
                            <div id="toggle_negate"></div>
                        </div>
                        {% endif %}
                        {% endif %}
                        <div class="controls">
                            <input type="submit" id="reset_parameters" value="{% trans %}Reset{% endtrans %}"/>
                            <input type="submit" id="set_parameters" value="{% trans %}Set{% endtrans %}"/>
                        </div>
                    </fieldset>
                </form>
                    {% endif %}

             <div id="image_comments">
                <div id="comm_header" class="iviewer_cursor">
                    {% trans %}Image comments{% endtrans %}<span class="close" title="{% trans %}Close window{% endtrans %}"></span>
                    <span class="linkComment"><a href="#" target="_blank" id="add_comment">{% trans %}New comment{% endtrans %}</a></span>
                </div>
                <div id="allComments"></div>
            </div>
            <div id="remoteInfos_content">
                <div id="infos_header" class="iviewer_cursor">
                {% trans %}Information images{% endtrans %}<span class="close" title="{% trans %}Close window{% endtrans %}"></span>
                </div>
                <div id="allInfosRemote">{% trans %}No information for this picture. {% endtrans %}</div>
           </div>
        </section>
{% endblock %}

{% block scripts %}
        <script type="text/javascript" src="{{ app_web_url }}/scripts/jquery/jquery-1.9.1.min.js"></script>
        {% if not(iip) %}
        <script type="text/javascript" src="{{ app_web_url }}/scripts/jquery/ui/jquery.ui.core.min.js"></script>
        <script type="text/javascript" src="{{ app_web_url }}/scripts/jquery/ui/jquery.ui.widget.min.js"></script>
        <script type="text/javascript" src="{{ app_web_url }}/scripts/jquery/ui/jquery.ui.mouse.min.js"></script>
        <script type="text/javascript" src="{{ app_web_url }}/scripts/jquery/ui/jquery.ui.draggable.min.js"></script>
        <script type="text/javascript" src="{{ app_web_url }}/scripts/jquery/jquery.mousewheel.js"></script>
        <script type="text/javascript" src="{{ app_web_url }}/scripts/jquery/ui/iviewer/jquery.iviewer.min.js"></script>
        <script type="text/javascript" src="{{ app_web_url }}/scripts/bachview/viewer.js"></script>
            {% if contrast and picture.canContrast() or brightness and picture.canBrightness() %}
        <script type="text/javascript" src="{{ app_web_url }}/scripts/jquery/slider/jquery.nouislider.min.js"></script>
            {% endif %}
        {% else %}
        <script type="text/javascript" src="{{ app_web_url }}/scripts/mootools/mootools-core-1.4.5-full-nocompat.js"></script>
        <script type="text/javascript" src="{{ app_web_url }}/scripts/mootools/mootools-more-1.4.0.1.js"></script>
        <script type="text/javascript" src="{{ app_web_url }}/scripts/iipmooviewer/iipmooviewer-2.0.js"></script>
        <script type="text/javascript" src="{{ app_web_url }}/scripts/bachview/iipviewer.js"></script>
        <script type="text/javascript" src="{{ app_web_url }}/scripts/iipmooviewer/protocols/iip.js"></script>
        <script type="text/javascript" src="{{ app_web_url }}/scripts/iipmooviewer/touch.js"></script>
        {% if lang == 'fr_FR.utf8' %}
        <script type="text/javascript" src="{{ app_web_url }}/scripts/iipmooviewer/lang/help.fr.js"></script>
        {% else %}
        <script type="text/javascript" src="{{ app_web_url }}/scripts/iipmooviewer/lang/help.en.js"></script>
        {% endif %}
        <!--<script type="text/javascript" src="{{ app_web_url }}/scripts/iipmooviewer/touch.js"></script>-->
        <script type="text/javascript" src="{{ app_web_url }}/scripts/iipmooviewer/navigation.js"></script>
        <script type="text/javascript" src="{{ app_web_url }}/scripts/bachview/iipnavigation.js"></script>
        {% endif %}
        <script>
            //global variables
            var series_path = '{{ series.getPath() }}';
            {% if not series %}
            var image_path = '{{ cloudfront ~ path }}';
            var aws_flag = '{{ awsFlag }}';
            var src_default = '{{ default_src }}';
            var src_thumb = '{{ thumb_src}}';
            {% endif %}
            {% if remote_infos_url is defined %}
            var remote_infos_url = '{{ remote_infos_url }}';
            {% endif%}
            {% if not series.getStart is null and not series.getEnd is null -%}
            var series_start = '{{ series.getStart }}';
            var series_end = '{{ series.getEnd }}';
            {% endif -%}
            {% if image_database_name is defined %}
            var image_database_name = '{{ image_database_name}}'
            {% endif %}
            var app_url = '{{ app_base_url }}';
            var hidef_off_title = '{{ "Switch to high resolution image"|trans|escape('js') }}';
            var hidef_on_title = '{{ "Switch to low resolution image"|trans|escape('js') }}';
            var alert_bad_value = '{{ "Warning, this is a bad value!"|trans|escape('js') }}';
            var header_matricule = '{{ "Matricule informations"|trans|escape('js') }}';
            var header_ead = '{{ "Ead informations"|trans|escape('js') }}';
            var link_ead = '{{ "Link to an ead document: "|trans|escape('js') }}';
            var link_record = '{{ "Link to the record: "|trans|escape('js') }}';
            var remote_infos_key = {
                'date_enregistrement':'{{ "record date"|trans|escape('js') }}',
                "lieu_enregistrement":'{{ "record place"|trans|escape('js') }}',
                "annee_naissance": '{{ "birth year"|trans|escape('js') }}',
                "lieu_naissance":'{{ "place of birth"|trans|escape('js') }}',
                "additional_informations":'{{ "additional informations"|trans|escape('js') }}',
                "lieu_residence": '{{ "place of residence"|trans|escape('js') }}'
                }

            var contentRemoteDefault = '{{ "No information for this picture."|trans|escape('js') }}';
            //source: https://developer.mozilla.org/en-US/docs/DOM/Using_fullscreen_mode
            function toggleFullScreen() {
                if (!document.fullscreenElement &&    // alternative standard method
                    !document.mozFullScreenElement && !document.webkitFullscreenElement) {  // current working methods
                    if (document.documentElement.requestFullscreen) {
                        document.documentElement.requestFullscreen();
                    } else if (document.documentElement.mozRequestFullScreen) {
                        document.documentElement.mozRequestFullScreen();
                    } else if (document.documentElement.webkitRequestFullscreen) {
                        document.documentElement.webkitRequestFullscreen(Element.ALLOW_KEYBOARD_INPUT);
                    }
                } else {
                    if (document.cancelFullScreen) {
                        document.cancelFullScreen();
                    } else if (document.mozCancelFullScreen) {
                        document.mozCancelFullScreen();
                    } else if (document.webkitCancelFullScreen) {
                        document.webkitCancelFullScreen();
                    }
                }
            }

            //no conflict jquery
            jQuery.noConflict();
            //jquery stuff
            (function($) {
                $('#progressbar').fadeIn();

                {% if not(enable_right_click) %}
                $(this).bind("contextmenu", function(e) {
                    e.preventDefault();
                });
                {% endif %}

                var comm;
                if (typeof aws_flag !== 'undefined' && aws_flag == true) {
                    comm = '{{ default_src }}';
                }
                else{
                    comm = '{{ picture.getUrl(series)}}';
                }

                {%- if not(iip) -%}
                var viewer = $("#viewer").bviewer({
                    {% if remote_method -%}
                    remote: {
                        method: '{{ remote_method }}',
                        uri: '{{ remote_uri }}'
                    },
                    {% endif -%}
                    src: comm,
                    update_on_resize: true,
                    zoom_animation: false,
                    mousewheel: true,
                    ui_disabled: true,
                    imageName: '{{ picture.getName() }}'
                });
                {% endif %}

                if (document.fullScreenEnabled != undefined
                    || document.mozFullScreenEnabled != undefined
                    || document.webkitFullscreenEnabled != undefined
                ){
                    $('#formats').parent().prepend(
                        $('<a href="#" id="fullscreen" title="{% trans "Enter/exit fullscreen" %}"><span>{% trans "Enter/exit fullscreen" %}</span></a>')
                    );
                    $('#fullscreen').bind('click touchstart', function(){
                        toggleFullScreen();
                    });

                    $('body').bind('keydown', function(event) {
                        if (event.which == 70) {
                            toggleFullScreen();
                        }
                    });
                }
            })(jQuery);
            //mootools stuff, if any
            {% if iip %}
                // Create our iipmooviewer object
                var _iipviewer = new BIIPMooViewer( "pviewer", {
                    {% if enable_right_click %}
                    disableContextMenu: false,
                    {% endif %}
                    server: '{{ iipserver }}',
                    image: '{{ picture.getFullPath() }}',
                    imageName: '{{ picture.getName() }}',
                    navWinSize: {{ thumb_format.width }},
                    showNavButtons: false,
                    prefix: '/images/'
                });
            {% endif %}
        </script>
{% endblock %}
