<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>{% trans "Bach Viewer" %} - {{ img }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="/styles/reset.css"/>
        {% if not(iip) %}
        <link rel="stylesheet" href="/styles/jquery.iviewer.css"/>
        {% else %}
        <link rel="stylesheet" type="text/css" media="all" href="/styles/iip.compressed.css" />
        <!--[if lt IE 10]>
        <link rel="stylesheet" type="text/css" media="all" href="/styles/ie.compressed.css" />
        <![endif]-->
        {% endif %}

        <link rel="stylesheet" href="/styles/viewer.css"/>
    </head>
    <body>
        <section>
            <figure id="viewer">
                <header>
                    <h1>{{ img }}</h1>
                </header>
                <noscript>
                    <img src="{{ picture.getUrl() }}" alt=""/>
                </noscript>
                <select name="formats">
                {% for key, fmt in picture.getVisibleFormats() %}
                <option value="{{ key }}">{{ fmt }}</option>
                {% endfor %}
            </select>
            </figure>
            <!-- Navigation dans la série - si série il y a -->
            <!--<nav>
                <ul>
                    <li>
                    </li>
                </ul>
            </nav>-->
        </section>

        <script type="text/javascript" src="/scripts/jquery/jquery-1.9.1.min.js"></script>
        {% if not(iip) %}
        <script type="text/javascript" src="/scripts/jquery/ui/jquery.ui.core.min.js"></script>
        <script type="text/javascript" src="/scripts/jquery/ui/jquery.ui.widget.min.js"></script>
        <script type="text/javascript" src="/scripts/jquery/ui/jquery.ui.mouse.min.js"></script>
        <script type="text/javascript" src="/scripts/jquery/jquery.mousewheel.js"></script>
        <script type="text/javascript" src="/scripts/jquery/ui/iviewer/jquery.iviewer.min.js"></script>
        <script type="text/javascript" src="/scripts/bachview/viewer.js"></script>
        {% else %}
        <script type="text/javascript" src="/scripts/mootools/mootools-core-1.4.5-full-nocompat.js"></script>
        <script type="text/javascript" src="/scripts/mootools/mootools-more-1.4.0.1.js"></script>
        <script type="text/javascript" src="/scripts/iipmooviewer/iipmooviewer-2.0.js"></script>
        <script type="text/javascript" src="/scripts/iipmooviewer/protocols/iip.js"></script>
        <script type="text/javascript" src="/scripts/iipmooviewer/lang/help.fr.js"></script>
        <!--<script type="text/javascript" src="/scripts/iipmooviewer/touch.js"></script>-->
        <script type="text/javascript" src="/scripts/iipmooviewer/navigation.js"></script>
        {% endif %}
        <script>
            //no conflict jquery
            jQuery.noConflict();
            //jquery stuff
            (function($) {
                {% if not(enable_right_click) %}
                $(this).bind("contextmenu", function(e) {
                    e.preventDefault();
                });
                {% endif %}

                var viewer = $("#viewer").iviewer({
                    src: "{{ picture.getUrl() }}",
                    update_on_resize: true,
                    zoom_animation: false,
                    mousewheel: true//,
                    //onMouseMove: function(ev, coords) { },
                    //onStartDrag: function(ev, coords) { return false; }, //this image will not be dragged
                    //onDrag: function(ev, coords) { }
                });
            })(jQuery);
            //mootools stuff, if any
        </script>
    </body>
</html>
