<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>{% trans "Bach Viewer" %} - {{ img }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="/styles/reset.css"/>
        {% if not(iip) %}
        <link rel="stylesheet" href="/styles/jquery.iviewer.css"/>
        {% else %}
        <link rel="stylesheet" type="text/css" media="all" href="/styles/iip.css" />
        <!--[if lt IE 10]>
        <link rel="stylesheet" type="text/css" media="all" href="/styles/ie.css" />
        <![endif]-->
        {% endif %}
        <link rel="stylesheet" href="/styles/viewer.css"/>
    </head>
    <body>
        <section>
            <figure id="viewer">
                <header>
                    <h1>{{ img }}</h1>
                </header>
                <noscript>
                    <img src="{{ picture.getUrl() }}" alt=""/>
                </noscript>
                <select name="formats">
                    {% for key, fmt in picture.getVisibleFormats() %}
                    <option value="{{ key }}">{{ fmt }}</option>
                    {% endfor %}
                </select>
                {% if iip %}<div id="pviewer"> </div>{% endif %}
                <!-- Browse series, if series there is -->
                {% if series %}
                <nav>
                    <a href="?img=" id="previmg" title="{% trans "Go to previous image" %}">{% trans "Previous" %}</a>
                    <a href="?img=" id="nextimg" title="{% trans "Go to next image" %}">{% trans "Next" %}</a>
                </nav>
                {% endif %}
                <!-- Toolbar -->
                <aside>
                    <ul>
                        <!-- Zoom out -->
                        <li id="zoomout" title="{% trans "Zoom out" %}"></li>
                        <li id="zoomin" title="{% trans "Zoom in" %}"></li>
                        <li id="fullsize" title="{% trans "Show full size image" %}"></li>
                        <li id="fitsize" title="{% trans "Fit image to screen" %}"></li>
                        <li id="zoominfos"></li>
                        <li id="lrotate" title="{% trans "Rotate 90° by left" %}"></li>
                        <li id="rrotate" title="{% trans "Rotate 90° by right" %}"></li>
                        <li id="fullscreen" title="{% trans "Enter/exit fullscreen" %}"></li>
                    </ul>
                </aside>
            </figure>
        </section>

        <script type="text/javascript" src="/scripts/jquery/jquery-1.9.1.min.js"></script>
        {% if not(iip) %}
        <script type="text/javascript" src="/scripts/jquery/ui/jquery.ui.core.min.js"></script>
        <script type="text/javascript" src="/scripts/jquery/ui/jquery.ui.widget.min.js"></script>
        <script type="text/javascript" src="/scripts/jquery/ui/jquery.ui.mouse.min.js"></script>
        <script type="text/javascript" src="/scripts/jquery/jquery.mousewheel.js"></script>
        <script type="text/javascript" src="/scripts/jquery/ui/iviewer/jquery.iviewer.min.js"></script>
        <script type="text/javascript" src="/scripts/bachview/viewer.js"></script>
        {% else %}
        <script type="text/javascript" src="/scripts/mootools/mootools-core-1.4.5-full-nocompat.js"></script>
        <script type="text/javascript" src="/scripts/mootools/mootools-more-1.4.0.1.js"></script>
        <script type="text/javascript" src="/scripts/iipmooviewer/iipmooviewer-2.0.js"></script>
        <script type="text/javascript" src="/scripts/bachview/iipviewer.js"></script>
        <script type="text/javascript" src="/scripts/iipmooviewer/protocols/iip.js"></script>
        <script type="text/javascript" src="/scripts/iipmooviewer/lang/help.fr.js"></script>
        <!--<script type="text/javascript" src="/scripts/iipmooviewer/touch.js"></script>-->
        <script type="text/javascript" src="/scripts/iipmooviewer/navigation.js"></script>
        <script type="text/javascript" src="/scripts/bachview/iipnavigation.js"></script>
        {% endif %}
        <script>
            //no conflict jquery
            jQuery.noConflict();
            //jquery stuff
            (function($) {
                {% if not(enable_right_click) %}
                $(this).bind("contextmenu", function(e) {
                    e.preventDefault();
                });
                {% endif %}

                {% if not(iip) %}
                var viewer = $("#viewer").bviewer({
                    src: "{{ picture.getUrl() }}",
                    update_on_resize: true,
                    zoom_animation: false,
                    mousewheel: true,
                    ui_disabled: true
                });
                {% else %}

                {% endif %}

                $('#fullscreen').click(function(){
                    toggleFullScreen();
                });

                //source: https://developer.mozilla.org/en-US/docs/DOM/Using_fullscreen_mode
                function toggleFullScreen() {
                    if (!document.fullscreenElement &&    // alternative standard method
                        !document.mozFullScreenElement && !document.webkitFullscreenElement) {  // current working methods
                        if (document.documentElement.requestFullscreen) {
                            document.documentElement.requestFullscreen();
                        } else if (document.documentElement.mozRequestFullScreen) {
                            document.documentElement.mozRequestFullScreen();
                        } else if (document.documentElement.webkitRequestFullscreen) {
                            document.documentElement.webkitRequestFullscreen(Element.ALLOW_KEYBOARD_INPUT);
                        }
                    } else {
                        if (document.cancelFullScreen) {
                            document.cancelFullScreen();
                        } else if (document.mozCancelFullScreen) {
                            document.mozCancelFullScreen();
                        } else if (document.webkitCancelFullScreen) {
                            document.webkitCancelFullScreen();
                        }
                    }
                }
            })(jQuery);
            //mootools stuff, if any
            {% if iip %}
                // IIPMooViewer options: See documentation at http://iipimage.sourceforge.net for more details
                // Server path: set if not using default path
                var server = '/cgi-bin/iipsrv.fcgi';

                // The *full* image path on the server. This path does *not* need to be in the web
                // server root directory. On Windows, use Unix style forward slash paths without
                // the "c:" prefix
                var image = '{{ picture.getFullPath()  }}';

                // Create our iipmooviewer object
                new BIIPMooViewer( "pviewer", {
                    server: server,
                    image: image,
                    showNavButtons: false,
                    prefix: '/images/'
                });
            {% endif %}
        </script>
    </body>
</html>
